{
  "openapi": "3.0.0",
  "info": {
    "title": "MCPFactory API Service",
    "description": "API Gateway for MCPFactory. Handles authentication, proxies to internal services, and exposes the public REST API.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mcpfactory.org"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check and debug endpoints"
    },
    {
      "name": "Webhooks",
      "description": "Webhook receivers"
    },
    {
      "name": "Performance",
      "description": "Public performance leaderboard"
    },
    {
      "name": "User",
      "description": "Current user information"
    },
    {
      "name": "Campaigns",
      "description": "Campaign management"
    },
    {
      "name": "Keys",
      "description": "BYOK key management"
    },
    {
      "name": "API Keys",
      "description": "API key management"
    },
    {
      "name": "Leads",
      "description": "Lead search"
    },
    {
      "name": "Qualify",
      "description": "Email reply qualification"
    },
    {
      "name": "Brand",
      "description": "Brand scraping and management"
    },
    {
      "name": "Activity",
      "description": "User activity tracking"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Bearer JWT from Clerk (dashboard)"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for MCP clients and service-to-service communication"
      }
    },
    "schemas": {
      "ApiInfoResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "docs": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "version",
          "docs"
        ]
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "service",
          "version"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": [
          "error"
        ]
      },
      "WebhookResponse": {
        "type": "object",
        "properties": {
          "received": {
            "type": "boolean"
          }
        },
        "required": [
          "received"
        ]
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "authType": {
            "type": "string",
            "enum": [
              "jwt",
              "api_key"
            ]
          },
          "user": {
            "nullable": true,
            "description": "User object from client-service"
          },
          "org": {
            "nullable": true,
            "description": "Organization object from client-service"
          }
        }
      },
      "CreateCampaignRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Campaign name"
          },
          "type": {
            "type": "string",
            "enum": [
              "cold-email-outreach"
            ],
            "default": "cold-email-outreach",
            "description": "Campaign type (defaults to 'cold-email-outreach')"
          },
          "brandUrl": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL"
          },
          "targetAudience": {
            "type": "string",
            "minLength": 1,
            "description": "Plain text description of who to target (e.g. 'CTOs at SaaS startups with 10-50 employees in the US')"
          },
          "targetOutcome": {
            "type": "string",
            "minLength": 1,
            "description": "What you want to achieve (e.g. 'Book sales demos', 'Recruit community ambassadors')"
          },
          "valueForTarget": {
            "type": "string",
            "minLength": 1,
            "description": "What the target audience gains from responding"
          },
          "urgency": {
            "type": "string",
            "minLength": 1,
            "description": "Time-based constraint that motivates action now (e.g. 'Recruitment closes in 30 days', 'Price doubles after March 1st')"
          },
          "scarcity": {
            "type": "string",
            "minLength": 1,
            "description": "Supply-based constraint on availability (e.g. 'Only 10 spots available worldwide', 'Limited to 50 participants')"
          },
          "riskReversal": {
            "type": "string",
            "minLength": 1,
            "description": "Guarantee or safety net that removes risk for the prospect (e.g. 'Free trial for 2 weeks, no commitment', 'Phone screening call before any obligation')"
          },
          "socialProof": {
            "type": "string",
            "minLength": 1,
            "description": "Evidence of credibility and traction (e.g. 'Backed by 60 sponsors including X, Y, Z', '500+ companies already onboarded')"
          },
          "maxBudgetDailyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max daily budget in USD"
          },
          "maxBudgetWeeklyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max weekly budget in USD"
          },
          "maxBudgetMonthlyUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max monthly budget in USD"
          },
          "maxBudgetTotalUsd": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Max total budget in USD"
          },
          "maxLeads": {
            "type": "integer",
            "description": "Maximum number of leads to contact"
          },
          "endDate": {
            "type": "string",
            "description": "Campaign end date"
          }
        },
        "required": [
          "name",
          "brandUrl",
          "targetAudience",
          "targetOutcome",
          "valueForTarget",
          "urgency",
          "scarcity",
          "riskReversal",
          "socialProof"
        ]
      },
      "CampaignStatsResponse": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "leadsServed": {
            "type": "number"
          },
          "leadsBuffered": {
            "type": "number"
          },
          "leadsSkipped": {
            "type": "number"
          },
          "apollo": {
            "type": "object",
            "properties": {
              "enrichedLeadsCount": {
                "type": "number"
              },
              "searchCount": {
                "type": "number"
              },
              "fetchedPeopleCount": {
                "type": "number"
              },
              "totalMatchingPeople": {
                "type": "number"
              }
            },
            "required": [
              "enrichedLeadsCount",
              "searchCount",
              "fetchedPeopleCount",
              "totalMatchingPeople"
            ]
          },
          "emailsGenerated": {
            "type": "number"
          },
          "totalCostUsd": {
            "type": "number"
          },
          "emailsSent": {
            "type": "number"
          },
          "emailsOpened": {
            "type": "number"
          },
          "emailsClicked": {
            "type": "number"
          },
          "emailsReplied": {
            "type": "number"
          },
          "emailsBounced": {
            "type": "number"
          },
          "repliesWillingToMeet": {
            "type": "number"
          },
          "repliesInterested": {
            "type": "number"
          },
          "repliesNotInterested": {
            "type": "number"
          },
          "repliesOutOfOffice": {
            "type": "number"
          },
          "repliesUnsubscribe": {
            "type": "number"
          }
        },
        "required": [
          "campaignId",
          "leadsServed",
          "leadsBuffered",
          "leadsSkipped",
          "emailsGenerated",
          "emailsSent",
          "emailsOpened",
          "emailsClicked",
          "emailsReplied",
          "emailsBounced"
        ]
      },
      "BatchStatsRequest": {
        "type": "object",
        "properties": {
          "campaignIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Array of campaign IDs to fetch stats for"
          }
        },
        "required": [
          "campaignIds"
        ]
      },
      "AddByokKeyRequest": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Provider name (e.g. openai, anthropic, apollo)"
          },
          "apiKey": {
            "type": "string",
            "description": "The API key value"
          }
        },
        "required": [
          "provider",
          "apiKey"
        ]
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name for the API key"
          }
        }
      },
      "LeadSearchRequest": {
        "type": "object",
        "properties": {
          "person_titles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Job titles to search for"
          },
          "organization_locations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Company locations filter"
          },
          "organization_industries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Industry tag IDs filter"
          },
          "organization_num_employees_ranges": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Employee count ranges"
          },
          "per_page": {
            "type": "integer",
            "maximum": 100,
            "default": 10,
            "description": "Results per page (max 100)"
          }
        },
        "required": [
          "person_titles"
        ]
      },
      "QualifyRequest": {
        "type": "object",
        "properties": {
          "sourceService": {
            "type": "string",
            "default": "api",
            "description": "Source service identifier"
          },
          "sourceOrgId": {
            "type": "string",
            "description": "Organization ID (defaults to auth org)"
          },
          "sourceRefId": {
            "type": "string",
            "description": "Reference ID in the source system"
          },
          "fromEmail": {
            "type": "string",
            "minLength": 1,
            "description": "Sender email address"
          },
          "toEmail": {
            "type": "string",
            "minLength": 1,
            "description": "Recipient email address"
          },
          "subject": {
            "type": "string",
            "description": "Email subject line"
          },
          "bodyText": {
            "type": "string",
            "description": "Plain text email body"
          },
          "bodyHtml": {
            "type": "string",
            "description": "HTML email body"
          },
          "byokApiKey": {
            "type": "string",
            "description": "BYOK API key for AI provider"
          }
        },
        "required": [
          "fromEmail",
          "toEmail"
        ]
      },
      "BrandScrapeRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL to scrape"
          },
          "skipCache": {
            "type": "boolean",
            "description": "Skip cached results and force re-scrape"
          }
        },
        "required": [
          "url"
        ]
      },
      "IcpSuggestionRequest": {
        "type": "object",
        "properties": {
          "brandUrl": {
            "type": "string",
            "minLength": 1,
            "description": "Brand website URL"
          }
        },
        "required": [
          "brandUrl"
        ]
      },
      "ActivityResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          }
        },
        "required": [
          "ok"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "API info",
        "description": "Returns API name, version, and docs URL",
        "responses": {
          "200": {
            "description": "API information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "description": "Returns service health status",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/debug/config": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Debug configuration",
        "description": "Returns debug info about external service configuration",
        "responses": {
          "200": {
            "description": "Debug configuration data"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "OpenAPI specification",
        "description": "Returns the OpenAPI 3.0 JSON spec for this service",
        "responses": {
          "200": {
            "description": "OpenAPI 3.0 specification"
          },
          "404": {
            "description": "Spec not generated yet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/clerk": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Clerk webhook receiver",
        "description": "Receives Clerk lifecycle events (user.created, session.created). Verified via svix signature headers.",
        "responses": {
          "200": {
            "description": "Webhook received",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid signature or missing headers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Webhook not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/performance/leaderboard": {
      "get": {
        "tags": [
          "Performance"
        ],
        "summary": "Get performance leaderboard",
        "description": "Returns public performance leaderboard data. No authentication required.",
        "responses": {
          "200": {
            "description": "Leaderboard data with brands, models, and hero stats"
          },
          "502": {
            "description": "Upstream service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get current user info",
        "description": "Returns the authenticated user and organization details",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user and org info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List campaigns",
        "description": "List all campaigns for the organization, optionally filtered by brand ID",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Filter by brand ID"
            },
            "required": false,
            "description": "Filter by brand ID",
            "name": "brandId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of campaigns"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create a campaign",
        "description": "Create a new outreach campaign. The `type` field determines which execution pipeline campaign-service uses.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created campaign"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get a campaign",
        "description": "Get a specific campaign by ID",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign data"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Update a campaign",
        "description": "Update campaign fields (name, settings, etc.)",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated campaign"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/stop": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Stop a campaign",
        "description": "Stop a running campaign",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Stopped campaign"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/resume": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Resume a campaign",
        "description": "Resume a stopped campaign",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Resumed campaign"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/runs": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign runs",
        "description": "Get execution history/runs for a campaign",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign runs list"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/stats": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign stats",
        "description": "Get campaign statistics (leads served/buffered/skipped, apollo metrics, emails sent/opened/clicked/replied, etc.)",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated campaign statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignStatsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/batch-stats": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Batch get campaign stats",
        "description": "Get stats for multiple campaigns in a single request",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchStatsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stats keyed by campaign ID"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/leads": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign leads",
        "description": "Get all leads for a campaign with enrichment cost data",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign leads with enrichment run data"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/{id}/emails": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign emails",
        "description": "Get all generated emails for a campaign across all runs, with generation cost data",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID"
            },
            "required": true,
            "description": "Campaign ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign emails with generation run data"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys": {
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "List BYOK keys",
        "description": "List all BYOK (Bring Your Own Key) API keys for the organization",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of BYOK keys"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Keys"
        ],
        "summary": "Add a BYOK key",
        "description": "Store a new BYOK API key for a provider (e.g. openai, anthropic, apollo)",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddByokKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key stored"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys/{provider}": {
      "delete": {
        "tags": [
          "Keys"
        ],
        "summary": "Delete a BYOK key",
        "description": "Remove a BYOK API key for a specific provider",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Provider name"
            },
            "required": true,
            "description": "Provider name",
            "name": "provider",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Key deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/internal/keys/{provider}/decrypt": {
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "Decrypt a BYOK key (internal)",
        "description": "Get decrypted BYOK key value. Internal service-to-service endpoint.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Provider name"
            },
            "required": true,
            "description": "Provider name",
            "name": "provider",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Clerk organization ID"
            },
            "required": true,
            "description": "Clerk organization ID",
            "name": "clerkOrgId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Decrypted key"
          },
          "400": {
            "description": "Missing clerkOrgId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List API keys",
        "description": "List all API keys for the organization",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Create an API key",
        "description": "Generate a new permanent API key for the organization",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created API key"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys/{id}": {
      "delete": {
        "tags": [
          "API Keys"
        ],
        "summary": "Revoke an API key",
        "description": "Delete/revoke an API key by ID",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "API key ID"
            },
            "required": true,
            "description": "API key ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys/session": {
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Get or create session API key",
        "description": "Get or create a short-lived session API key for Foxy chat integration",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Session API key"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/leads/search": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Search for leads",
        "description": "Search for leads using Apollo-compatible filters (titles, locations, industries, company size)",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead search results"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/qualify": {
      "post": {
        "tags": [
          "Qualify"
        ],
        "summary": "Qualify an email reply",
        "description": "Uses AI to qualify/classify an inbound email reply (interested, not interested, out-of-office, etc.)",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QualifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Qualification result"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brand/scrape": {
      "post": {
        "tags": [
          "Brand"
        ],
        "summary": "Scrape brand info",
        "description": "Scrape brand information from a URL using the scraping service",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandScrapeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scraped brand information"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brand/by-url": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "Get brand by URL",
        "description": "Get cached brand info by website URL",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Brand website URL"
            },
            "required": true,
            "description": "Brand website URL",
            "name": "url",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Cached brand information"
          },
          "400": {
            "description": "Missing url param",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "List brands",
        "description": "Get all brands for the organization",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of brands"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands/{id}": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "Get a brand",
        "description": "Get a single brand by ID",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Brand ID"
            },
            "required": true,
            "description": "Brand ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Brand data"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands/{id}/sales-profile": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "Get brand sales profile",
        "description": "Get the sales profile for a specific brand",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Brand ID"
            },
            "required": true,
            "description": "Brand ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Brand sales profile"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Sales profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brand/sales-profiles": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "List sales profiles",
        "description": "Get all sales profiles (brands) for the organization",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of sales profiles"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brand/icp-suggestion": {
      "post": {
        "tags": [
          "Brand"
        ],
        "summary": "Get ICP suggestion",
        "description": "Get AI-generated Ideal Customer Profile suggestion (Apollo-compatible search params) for a brand URL",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IcpSuggestionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ICP suggestion (Apollo-compatible search params)"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands/{id}/runs": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "Get brand runs",
        "description": "Get extraction runs for a brand (sales-profile, icp-extraction) enriched with cost data",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Brand ID"
            },
            "required": true,
            "description": "Brand ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Brand extraction runs with cost data"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brand/{id}": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "Get brand scrape result",
        "description": "Get brand scrape result by scrape ID",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Scrape ID"
            },
            "required": true,
            "description": "Scrape ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Brand scrape result"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/activity": {
      "post": {
        "tags": [
          "Activity"
        ],
        "summary": "Track user activity",
        "description": "Records user activity event. Fires a lifecycle email deduped per user per day.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Activity tracked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}